{
  "presets": ["es2015", "stage-0"],
  "plugins": [
    "transform-object-assign",
    "transform-custom-element-classes"
  ],

  "env": {
    "test": {
      "plugins": ["babel-plugin-rewire"]
    }
  }
}
