{
  "presets": ["es2015", "stage-0"],
  "plugins": [
    "transform-object-assign",
    [
      "babel-plugin-transform-builtin-classes",
      { "globals": [ "HTMLDivElement" ] }
    ]
  ],

  "env": {
    "test": {
      "plugins": ["babel-plugin-rewire"]
    }
  }
}
